.rightpane {
	background-color: red;

}

.contentpane {
	background-color: yellow;

}

.panel {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border-style: solid;
	border-color: #AAAAAA;
	border-width: 1px;
	margin: 5px;
}

.top_navbar {
	margin-top: 10px;
}
